/* import fonts from front.css */
@import url(fonts.css);

/* CSS variables */
/* @import url(_variables.css);
@import url(_global.css); */

/* start navigation */
.header-area .main-menu .navbar .navbar-brand {
    padding: 0 2rem 0 5rem;
}

.header-area .main-menu .navbar {
    padding: 1rem 12rem;
    border-bottom: 1px solid transparent;
    border-color: var(--border-color);
    box-shadow: var(--box-shadow);
}

.header-area .main-menu .navbar .navbar-nav{
    padding-right: 10rem;
}

.header-area .main-menu .nav-item .nav-link {
    font: normal 500 16px/12px var(--roboto);
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    color: var(--title-color);
}

.header-area .main-menu .navbar a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* end navigation */

/* start p5js sketch */
.site-main .p5js-sketch {
    position: fixed;
    border: none;
    z-index: -3 !important;
    width: 101%;
    height: 100%;
}

.site-main .swimlane {
    position: fixed;
    display: flex;
    border: none;
    background: var(--swimlane-color);
    z-index: -2 !important;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    /* transform: translateX(9vw); */
}

/* end p5js sketch */

/* start banner area */
.site-main .site-banner {
    /* background: url(./img/Paco-02.jpg) no-repeat; TODO */
    background-position: 0% 50%;
    padding: 4rem 4rem;
}


.site-main .site-banner .site-title h3{
    padding-top: 20%;
    font-weight: 500;
}

.site-main .site-banner .site-title h3::after{
    content:"";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main .site-banner .site-title h1 {
    font-size: 5rem;
}

.site-main .site-banner .site-title h4 {    
    font: normal bold 1.8rem/3rem var(--roboto);
    letter-spacing: 2px;
}

.site-main .site-banner .banner-image > img {
    padding: 2rem 1rem;
    width: 100rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.title-text {
    font: normal bold 50px/72px var(--roboto);
}

/* end banner area */

/* start about area */

.site-main .about-area {
    padding: 4rem 8rem;
}
.site-main .about-area .about-title h2 > span {
    display: block;
    font: normal bold 49px/60px var(--roboto);
    letter-spacing: 15px;
}

.site-main .about-area .about-title .paragraph > p {
    padding: 1rem 0;
}

/* end about area */

/* start project area */

.site-main .project-area {
    padding: 4rem 4rem;
}

.site-main .project-area .button-group button{
    background: transparent;
    border: none;
    font: normal 500 16px/50px var(--roboto);
    text-transform: uppercase;
}

/* .site-main .project-area .button-group button+button::before{
    content:"";
    height: 1vw;
    width: 1px;
    background: black;
    display: inline-flex;
    transform: translateX(-2rem);
} */

.site-main .project-area .button-group button+button{
    padding: 0 0 0 2rem;
}

.site-main .project-area .grid .our-project > .title h4 {
    font: normal 700 25px/22px var(--roboto);
}

.site-main .project-area .grid img {
    padding: 0.2rem 0 0 0;
    max-width:100%;
    /* transition: filter .1s ease; */
}

.site-main .project-area .grid .our-project img:hover {
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}
/* end project area */

/* start footer area*/

footer.footer-area {
    padding: 2rem 0;
    background-color: rgb(207, 207, 207);
}

footer.footer-area .social h5 {
    font: normal 500 23px/30px var(--roboto);
}

footer.footer-area .social a > i{
    font-size: 22px;
    padding: 2rem;
    color: black;
}

footer.footer-area .social a:hover > i{
    color: var(--primary-color);
}

/* end footer area */

/* ======== GLOBAL =========== */

    /* Global classes */

    .title-text{
        font: normal bold 50px/72px var(--roboto);
    }
    
    .text-uppercase {
        text-transform: uppercase;
    }

    /* Images */

    
    /* Buttons */
    
    .button {
        padding: .8rem 2rem;
        font: normal 500 16px/20px var(--roboto);
        position: relative;
        border: 3px solid transparent;
        border-radius: 8px;
    }

    .button-small {
        margin: 0 1rem;
        padding: .4rem 0.8rem;
        font: normal 500 14px/16px var(--roboto);
    }
    
    .button.primary-button {
        background: var(--gradient-color);
        background-clip: padding-box;
        color: whitesmoke;
        transition: background .6s ease;
        box-shadow: var(--box-shadow);
    }
    
    .button.primary-button:hover {
        background: whitesmoke;
        background-clip: padding-box;
        color: black;
    }
    
    .button.primary-button::after, button.secondary-button::after {
        position: absolute;
        top: -2px; left: -2px;
        bottom: -2px; right: -2px;
        background: var(--gradient-color);
        content: '';
        z-index: -1;
        border-radius: 8px;
    }
    
    .button.secondary-button {
        background: white;
        background-clip: padding-box;
        transition: background .6s ease; 
    }
    
    .button.secondary-button:hover {
        background: var(--gradient-color);
        color: whitesmoke;
        box-shadow: var(--box-shadow);
    }

    .paragraph {
        width: 75%;
    }
    
    p.para {
        color: var(--text-color);
        font: normal 500 18px/25px var(--roboto);
    }

    p.para.justify {        
        text-align: justify;
    }
    
    button:focus,
    button:active,
    button:hover,
    btn:active,
    btn.active {
        outline: 0px !important;
        box-shadow: none !important;
    }
    
    .title-h1{
        font: normal bold 39px/40px var(--roboto);
    }
    
    .navbar-fixed{
        position: fixed;
        width: 100%;
        top: -4px;
        left: 0; right: 0;
        background: white;
        z-index: 999;
        transition: background .5s ease;
    }
    
    /* section {
        background-size: 7vw;
        background-clip: padding-box;
        background-color: mediumpurple;
    } */

    /* VARIABLES */

    html, body {
        margin: 0%;
        box-sizing: border-box;
        /* width: 100%;
        height: 100%;    
        max-width: 100%; */
        overflow-x: hidden;
    }
    
    /* CSS variables */
    
    :root{
        --primary-color: rgb(50, 40, 187);
        --primary-color2: #33c0a9;
        --title-color: #141313;
        --text-color: #111111;  
        --border-color: #201f1f17;  
        --gradient-color: linear-gradient(90deg, #38ad94 0%, #2623b1 100%);
        --shadow-color:  0px 10px 30px rgba(118, 85, 225, 0.3);
        --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
        --swimlane-unpadded-color: linear-gradient(90deg, #ffffff00 0%, #ffffffb0 12%, #ecececf1 50%, #ffffffb0 88%, #ffffff00 100%);
        --swimlane-color: linear-gradient(90deg, #ffffff00 0%, #ffffffb0 20%, #ecececf1 50%, #ffffffb0 80%, #ffffff00 100%);
       
    
        /* font family variables. */ 
        --roboto: 'Roboto', cursive;
    }